.jackson-f{
  width: 500px;
  height: 200px;
  margin: 15px auto;
  outline: 1px solid gainsboro;
  outline-offset: 2px;
  position: relative;
  background-position: 50px 0px;
  transition: all 1.5s ease-in-out;
  filter: grayscale(.5);
}
.jackson-f:hover{
  transition: all 1.5s ease-in-out;
  filter: grayscale(0);
}
.jackson-f > *{
  box-sizing: border-box;
}
.jf-txt{
  float: left;
  width: 150px;
  height: 200px;
  background: #3f77a4;
background: -moz-radial-gradient(center, ellipse cover, #3f77a4 0%, #438ab4 64%);
background: -webkit-radial-gradient(center, ellipse cover, #3f77a4 0%,#438ab4 64%);
background: radial-gradient(ellipse at center, #3f77a4 0%,#438ab4 64%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f77a4', endColorstr='#438ab4',GradientType=1 );
}
.jf-txtc{
  width: 80%;
  margin: 30px 0 0 30px;
  color: #fff;
}
.jf-ly{
  font-family: Assistant;
  text-transform: uppercase;
  font-size: 7px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 12px;
}
.jf-bg{
  float: left;
  background: url('https://i.imgur.com/EHfwicM.png');
  width: 350px;
  height: 200px;
  position: relative;
}
.jf-bg:after{
  content: "";
  display: none;
  width: 350px;
  height: 200px;
  background: url(https://i.imgur.com/t4K9amh.gif);
  position: absolute;
  top: 0;
  left: 0;
}
.jackson-f:hover .jf-bg:after{
  display: block;
}
.jf-play iframe{
  border: none;
  width: 40px;
  height: 44px;
  cursor: pointer !important;
  margin: 0 auto 10px;
  display: block;
  transition: all .5s ease-in-out;
}
.jackson-f:hover iframe{
  transition: all .5s ease-in-out;
  transform: rotate(360deg);
}
.jf-row{
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 100%, 0% 0%);
  background: #438ab4;
  width: 50px;
  height: 200px;
  position: relative;
  z-index: 1;
}
.jf-hov{
  margin: -10px auto 0;
  width: max-content;
  font-size: 8px;
  font-family: Assistant;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 5px;
}
